<%- model_class = Rol -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='rol'>
  <p><%= @rol.id %></p>
  <p><%= @rol.descripcion %></p>
</div>